* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.default-header {
    background-color: white;
    padding: 20px 60px;
    width: 100%;
    position: fixed;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.flex-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    color: black;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 64px;
}

.nav-bar a:hover {
    color: #f7427f;
    transition: 0.2s;
}