* {
  font-family: "Times New Roman", Times, serif;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

img {
  height: 150px;
  width: 169px;
}
/* card-1 */
.card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 169px;
  margin: 14px;
}

.card-1 .section {
  padding: 0 24px 14px 24px;
}
.card-1 .section button {
  background-color: grey;
  color: white;
  padding: 8px;
  border: none;
  width: 100%;
}

/* card-2 */
.card-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 169px;
  margin: 14px;
}

.card-2 .section {
  padding: 0 24px 14px 24px;
}
.card-2 .section button {
  background-color: grey;
  color: white;
  padding: 8px;
  border: none;
  width: 100%;
}

/* card-3 */
.card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 169px;
    margin: 14px;
  }
  
  .card-3 .section {
    padding: 0 24px 14px 24px;
  }
  .card-3 .section button {
    background-color: grey;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
  }

  /* card-4 */

  .card-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 169px;
    margin: 14px;
  }
  
  .card-4 .section {
    padding: 0 24px 14px 24px;
  }
  .card-4 .section button {
    background-color: grey;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
  }

  /* card-5 */
  .card-5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 169px;
    margin: 14px;
  }
  
  .card-5 .section {
    padding: 0 24px 14px 24px;
  }
  .card-5 .section button {
    background-color: grey;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
  }

  /* card-6 */

  .card-6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 169px;
    margin: 14px;
  }
  
  .card-6 .section {
    padding: 0 24px 14px 24px;
  }
  .card-6 .section button {
    background-color: grey;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
  }
  
  
  
  
